<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Side Navigation Accordions</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../css/main.css">
  </head>
  <body>

    <h3>Side Navigation Accordion</h3>

    <button type="button" name="button" class="demo-btn" data-open-sideNav>Open SideNav</button>

    <!-- SideNav Accordion Component -->

        <nav class="side-nav-accordion">
          <button class="close-btn" data-close-sideNav>X</button>
          <ul>
            <li>
              <a href="#" data-toggle-subnav >Section 1 <i class="fa fa-angle-down"></i> </a>
              <ul class="sub-section">
                <li> <a href="#"> Sub Section </a> </li>
                <li> <a href="#"> Sub Section </a> </li>
                <li> <a href="#"> Sub Section </a> </li>
              </ul>
            </li>
            <li>
              <a href="#" data-toggle-subnav >Section 2 <i class="fa fa-angle-down"></i></a>
              <ul class="sub-section">
                <li> <a href="#"> Sub Section </a> </li>
                <li> <a href="#"> Sub Section </a> </li>
                <li> <a href="#"> Sub Section </a> </li>
              </ul>
            </li>
            <li>
              <a href="#" data-toggle-subnav >Section 3 <i class="fa fa-angle-down"></i></a>
              <ul class="sub-section">
                <li> <a href="#"> Sub Section </a> </li>
                <li> <a href="#"> Sub Section </a> </li>
                <li> <a href="#"> Sub Section </a> </li>
              </ul>
            </li>
            <li>
              <a href="#" data-toggle-subnav >Section 4 <i class="fa fa-angle-down"></i></a>
              <ul class="sub-section">
                <li> <a href="#"> Sub Section </a> </li>
                <li> <a href="#"> Sub Section </a> </li>
                <li> <a href="#"> Sub Section </a> </li>
              </ul>
            </li>
            <li>
              <a href="#" data-toggle-subnav >Section 5 <i class="fa fa-angle-down"></i></a>
              <ul class="sub-section">
                <li> <a href="#"> Sub Section </a> </li>
                <li> <a href="#"> Sub Section </a> </li>
                <li> <a href="#"> Sub Section </a> </li>
              </ul>
            </li>
            <li>
              <a href="#" data-toggle-subnav >Section 6 <i class="fa fa-angle-down"></i></a>
              <ul class="sub-section">
                <li> <a href="#"> Sub Section </a> </li>
                <li> <a href="#"> Sub Section </a> </li>
                <li> <a href="#"> Sub Section </a> </li>
              </ul>
            </li>
          </ul>
        </nav>

    <script src="./js/side-nav-accordion.js"></script>
  </body>
  </html>
