<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Side Navigation Accordions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../css/main.css">
  </head>
  <body>

    <h3>Side Navigation Accordion</h3>

    <button type="button" name="button" class="demo-btn" data-open-sideNav>Open SideNav</button>

    <!-- SideNav Accordion Component -->

        <nav class="side-nav-accordion">
          <button class="close-btn" data-close-sideNav>X</button>
          <ul>
            <li>
              <a href="#" data-toggle-subnav >Section 1 <i class="fa fa-angle-down"></i> </a>
              <ul class="sub-section">
                <li> <a href="#"> Sub Section </a> </li>
                <li> <a href="#"> Sub Section </a> </li>
                <li> <a href="#"> Sub Section </a> </li>
              </ul>
            </li>
            <li>
              <a href="#" data-toggle-subnav >Section 2 <i class="fa fa-angle-down"></i></a>
              <ul class="sub-section">
                <li> <a href="#"> Sub Section </a> </li>
                <li> <a href="#"> Sub Section </a> </li>
                <li> <a href="#"> Sub Section </a> </li>
              </ul>
            </li>
            <li>
              <a href="#" data-toggle-subnav >Section 3 <i class="fa fa-angle-down"></i></a>
              <ul class="sub-section">
                <li> <a href="#"> Sub Section </a> </li>
                <li> <a href="#"> Sub Section </a> </li>
                <li> <a href="#"> Sub Section </a> </li>
              </ul>
            </li>
            <li>
              <a href="#" data-toggle-subnav >Section 4 <i class="fa fa-angle-down"></i></a>
              <ul class="sub-section">
                <li> <a href="#"> Sub Section </a> </li>
                <li> <a href="#"> Sub Section </a> </li>
                <li> <a href="#"> Sub Section </a> </li>
              </ul>
            </li>
            <li>
              <a href="#" data-toggle-subnav >Section 5 <i class="fa fa-angle-down"></i></a>
              <ul class="sub-section">
                <li> <a href="#"> Sub Section </a> </li>
                <li> <a href="#"> Sub Section </a> </li>
                <li> <a href="#"> Sub Section </a> </li>
              </ul>
            </li>
            <li>
              <a href="#" data-toggle-subnav >Section 6 <i class="fa fa-angle-down"></i></a>
              <ul class="sub-section">
                <li> <a href="#"> Sub Section </a> </li>
                <li> <a href="#"> Sub Section </a> </li>
                <li> <a href="#"> Sub Section </a> </li>
              </ul>
            </li>
          </ul>
        </nav>

    <script src="./js/side-nav-accordion.js"></script>
  </body>
  </html>
