/////////////////
// Demo Styles
///////////////

/* Demo Purposes Only */

///////////////
// Global
////////////

.demo-btn {
  background: #651142;
  color: #fff;
  padding: 16px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  margin: 0 16px;
}

///////////////
// Index Page
//////////////

.component-list {
  ul {
    width: 200px;
    list-style-type: none;
    padding: 0;
    li {
      a {
        color: #121212;
        text-decoration: none;
        display: block;
        padding: 8px 0px;
        &:hover {
          color: rgb(0, 0, 250);
        }
      }
    }
  }
}

//////////////////////
// Scroll Spy Demo
////////////////////

.hero {
  background: $color-primary-blue;
  padding: 72px 0;
  min-height: 350px;
  h1 {
    &.hero-title {
      text-align: center;
      margin: 0;
    }
  }
}

.container {
  width: 85%;
  margin: 0 auto;
}

.scroll-spy-section {
  padding: 64px 0;
  h3{
    margin: 0;
  }
  p{
    margin: 24px 0;
  }
}

///////////////
// Modals Demo
//////////////

.demo-modal-section {
  width: 25%;
  margin: 0 auto;
  .demo-modal-btn {
    background: #651142;
    color: #fff;
    padding: 16px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
  }
}

////////////
// Switches Demo
//////////

.horizontal-switches:first-child {
  padding-top: 25px;
}

///////////
// Colors
//////////

.color-demos {
  display: block;
  .color {
    height: 60px;
    width:60px;
    display: inline-block;
  }
}
