////////////
// Colors
///////////

// Primary Colors

$color-primary-0: #651142;	// Main Primary color */
$color-primary-1: #AA5788;
$color-primary-2: #872D61;
$color-primary-3: #450129;
$color-primary-4: #280018;
$color-primary-5: #CB87AF;



// As RGBa codes */

$rgba-primary-0: rgba(101, 17, 66,1);	// Main Primary color */
$rgba-primary-1: rgba(170, 87,136,1);
$rgba-primary-2: rgba(135, 45, 97,1);
$rgba-primary-3: rgba( 69,  1, 41,1);
$rgba-primary-4: rgba( 40,  0, 24,1);

// Tertiary Colors

$color-teal: #0EBDCC;
$color-white: #fff;
$color-black: #000;
$color-light-grey: #ededed;
