
@import "./variables/_colors";
@import "../assets/fonts/scss/fontawesome";
@import "./mixins/_global-mixins";

@import "../components/scroll-spy/scss/_scroll-spy";
@import "../components/accordion/scss/_accordion";
@import "../components/modal/scss/_modal";
@import "../components/tabs/scss/_tabs";
@import "../components/side-nav-accordion/scss/_side-nav-accordion";
@import "../components/switches/scss/_switches";
@import "../components/navigation-header/scss/_navigation-header";
@import "../components/forms/scss/_forms";
@import "../components/input-text/scss/_input-text.scss";

@font-face {
  font-family: "atomic-age";
  src: url("../assets/fonts/atomic-age/AtomicAge-Regular.ttf");
}

@import "./_demo";

//////////////////////
// Initial Body Style
////////////////////

body {
  font-family: atomic-age;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    outline:none;
}
