
@import "./variables/_colors";
@import "./mixins/_global-mixins";
@import "./_demo";
@import "../components/scroll-spy/scss/_scroll-spy";
@import "../components/accordion/scss/_accordion";
@import "../components/modal/scss/_modal";
@import "../components/tabs/scss/_tabs";
@import "../components/side-nav-accordion/scss/_side-nav-accordion";
@import "../components/switches/scss/_switches";
@import "../components/navigation-header/scss/_navigation-header";

//////////////////////
// Initial Body Style
////////////////////

body {
  font-family: sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    outline:none;
}
