.modal {
  width: 100%;
  position: fixed;
  display: none;
  &__body {
    max-width: 350px;
    margin: 56px auto;
    position: relative;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animate-modal-down;
    animation-timing-function:ease-out;
    animation-duration: 0.2s;
  }
  &__title {
    position: relative;
    border-radius: 4px 4px 0 0;
    background: $color-primary-0;
    padding: 20px 0px;
    h1, h2, h3, h4, h5, h6 {
      color: $color-white;
      margin: 0;
      padding: 0px 32px;
    }
  }
  &__content {
    background: $color-white;
    border-radius: 0 0 4px 4px;
    height: auto;
    p {
      margin: 0;
      padding: 32px;
    }
  }
  &__closeBtn {
    position: absolute;
    right: 8px;
    top: 8px;
    background: none;
    border: none;
    color: $color-white;
    font-size: 18px;
    z-index: 1;
    &:hover {
      cursor: pointer;
    }
  }
  &:after {
    content: "";
    background: $color-black;
    height: 100vh;
    width: 100%;
    opacity: 0.3;
    position: absolute;
    top: 0;
    z-index: -1;
  }
  &.active {
    display: block;
  }
}

// Media Queries

@media (min-width:500px) {
  .modal{
    &__body {
      max-width: 450px;
    }
  }
}

@media (min-width:750px) {
  .modal{
    &__body {
      max-width: 650px;
    }
  }
}

@keyframes animate-modal-down {
  from {
    top: -365px;
  }
  to {
    top: 0px;
  }
}

@keyframes animate-modal-up {
  from {
    top: 0px;
  }
  to {
    top: -365px;
  }
}
