<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Accordion</title>
    <link rel="stylesheet" href="../../css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1>Accordion</h1>

    <div class="accordion">

      <button type="button" name="button" class="accordion__btn">Section 1</button>
        <section class="accordion__content">
          <h5>Section 1</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in odio vel odio ullamcorper pharetra quis at sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus bibendum hendrerit dapibus. In sit amet eleifend ante, ac consectetur ipsum.</p>
        </section>
      <button type="button" name="button" class="accordion__btn">Section 2</button>
        <section class="accordion__content">
          <h5>Section 2</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in odio vel odio ullamcorper pharetra quis at sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus bibendum hendrerit dapibus. In sit amet eleifend ante, ac consectetur ipsum.</p>
        </section>
      <button type="button" name="button" class="accordion__btn">Section 3</button>
      <section class="accordion__content">
        <h5>Section 3</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in odio vel odio ullamcorper pharetra quis at sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus bibendum hendrerit dapibus. In sit amet eleifend ante, ac consectetur ipsum.</p>
      </section>
    </div>

    <script src="./js/accordion.js"></script>
  </body>
