.accordion {
  width:100%;
  background: $color-light-grey;
  &__btn {
    padding: 16px;
    border:none;
    display: block;
    background:$color-secondary-blue;
    color: $color-white;
    width: 100%;
    @include global-border-bottom;
    &:hover {
      cursor: pointer;
    }
  }
  &__content {
    padding:0 16px;
    max-height: 0;
    overflow-y: hidden;
    transition: all 0.5s;
    &.active {
      height: auto;
      transition: all 0.5s;
    }
  }
}
