////////////
// Colors
///////////

// Primary Colors

$color-primary-0: #651142;	// Main Primary color */
$color-primary-1: #AA5788;
$color-primary-2: #872D61;
$color-primary-3: #450129;
$color-primary-4: #280018;
$color-primary-5: #CB87AF;



// As RGBa codes */

$rgba-primary-0: rgba(101, 17, 66,1);	// Main Primary color */
$rgba-primary-1: rgba(170, 87,136,1);
$rgba-primary-2: rgba(135, 45, 97,1);
$rgba-primary-3: rgba( 69,  1, 41,1);
$rgba-primary-4: rgba( 40,  0, 24,1);

// Tertiary Colors

$color-teal: #0EBDCC;
$color-white: #fff;
$color-black: #000;
$color-light-grey: #ededed;

// 1950s Colors 1
$color-primary-red: #BF4D28;
$color-primary-yellow: #E6AC27;
$color-primary-sand: #F6F7BD;
$color-primary-blue: #80BCA3;
$color-primary-green: #88A764;
$color-primary-grey: #655643;

.background--primary-red {
  background: $color-primary-red;
}
.background--primary-yellow {
  background: $color-primary-yellow;
}
.background--primary-sand {
  background: $color-primary-sand;
}
.background--primary-blue {
  background: $color-primary-blue;
}
.background--primary-grey {
  background: $color-primary-grey;
}


// 1950s Colors 1

$color-secondary-red: #DC3F1C;
$color-secondary-yellow: #D8A027;
$color-secondary-sand: #EBE18C;
$color-secondary-blue: #448D7A;
$color-secondary-grey: #534027;

.background--secondary-red {
  background: $color-secondary-red;
}
.background--secondary-yellow {
  background: $color-secondary-yellow;
}
.background--secondary-sand {
  background: $color-secondary-sand;
}
.background--secondary-blue {
  background: $color-secondary-blue;
}
.background--secondary-grey {
  background: $color-secondary-grey;
}
