.header {
  &__desktop {
    background: $color-secondary-blue;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.4);
    width: 100%;
    min-height: 56px;
    position: fixed;
    top: -1px;
    color: #fff;
    transition: all 0.4s;
    z-index: 9999;
    a {
      color: $color-white;
      text-decoration: none;
      i {
        font-size: 1.2em;
        display: none;
        &.active {
          display: block;
        }
      }
    }
  }
  &__mobile {
    height: 100vh;
    width: 100%;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    transform: translateX(-100%);
    transition: transform 0.4s;
    &.active {
      transform: translateX(0%);
      transition: transform 0.4s ease-out;
    }
    .side-nav-accordion {
      overflow-y: scroll;
      overflow-x: hidden;
      background: $color-primary-blue;
      position: absolute;
      top: 55px;
      width: 100%;
      transform: translateX(-100%);
      ul {
        margin: 0;
        padding: 0;
        &.sub-section {
          li {
            a {
              background: $color-white;
            }
          }
        }
      }
      &.active {
        transform: translateX(0%);
      }
      &::-webkit-scrollbar {
        display: none;
      }
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__mobile-icons {
    padding-top: 15px;
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    opacity: 1;
    transition: opacity 0.4s;
  }
  &__main {
    position: relative;
    ul {
      padding: 0;
      margin: 0;
      position: absolute;
      right: 0;
      bottom: -22px;
      transform: translateX(100%);
      transition: transform 0.4s ease-in;
      li {
        display: inline-block;
        position: relative;
        a {
          padding: 18px;
          display: inline-block;
          position: relative;
          font-weight: bold;
        }
        &:hover a + .header__hover-menu {
          display: block;
        }
      }
      &.header__hover-menu {
        display: none;
        width: 150px;
        transition: height 0.4s ease-out;
        background: $color-primary-blue;
        top: 54px;
        left: 0px;
        li {
          display: block;
          background: $color-primary-blue;
          a {
            width: 100%;
          }
        }
      }
    }
  }
}

@media (min-width:750px) {
  .header {
    &__desktop {

    }
    &__mobile-icons {
      opacity: 0;
    }
    &__main {
      ul {
        transform: translateX(0%);
        li {
          a {
            &:before {
              content: "";
              height: 5px;
              width: 100%;
              background: $color-white;
              position: absolute;
              left: 0;
              bottom: 0;
              opacity: 0;
              transition: opacity 0.4s;
            }
            &:hover {
              &:before {
                opacity: 1;
              }
            }
          }
        }
      }
    }
    &__mobile {
      .side-nav-accordion {
        display: none;
      }
    }
  }
}
